* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-content {
  background-color: #e5c7f1;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-container {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100vh;
}
.center-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: auto;
  height: 100vh;
}
.right-container {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100vh;
}
.calender {
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  width: 300px;
  height: 100px;
}
.calendar-container {
  padding: 10px;
  background-color: transparent;
}
.todolist-item {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 10px;
}
.todolist-item:hover {
  background-color: #e5c7f1;
}
.todolist-item p {
  font-size: large;
  font-weight: 500;
  margin-right: 10px;
}
.todolist-container {
  background-color: #fff;
  border-radius: 25px;
  padding: 20px;
  margin: 0 10px;
  height: 100%;
  margin-bottom: 20px;
}
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.goals-pic-container {
  width: 90%;
  height: 200px;
  background-color: #fff;
  margin: 20px 0;
  border-radius: 25px;
  margin-bottom: 5px;
}
.change-board-container {
  width: 90%;
  height: 100%;
  background-color: #fff;
  margin: 20px 0;
  border-radius: 25px;
  margin-top: 5px;
  padding: 10px 20px;
  overflow: hidden;
}
.goals-contaner {
  width: 90%;
  height: 320px;
  background-color: #fff;
  margin: 20px 0;
  border-radius: 25px;
  margin-bottom: 5px;
  overflow: hidden;
}
.goals-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notes-container {
  width: 90%;
  height: 100%;
  background-color: #fff;
  margin: 20px 0;
  border-radius: 25px;
  margin-top: 5px;
}
.select-goals {
  width: 95%;
  height: 30px;
  margin: 5px;
  margin-top: 0;
  border: none;
  border-bottom: 1px solid #e5c7f1;
  outline: none;
}
.select-goals option {
  border: none;
  border-bottom: 1px solid #e5c7f1;
  color: #af15ec;
  background-color: transparent;
}
.goals-text-container {
  display: flex;
  flex-direction: column;
  padding: 3px 10px;
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 15px;
}
.goals-text-container::-webkit-scrollbar {
  display: none;
}
.plus-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #af15ec;
}
.goals-item {
  background-color: #e5c7f1;
  border-radius: 5px;
  height: 35px;
  font-size: larger;
  margin-bottom: 10px;
  padding: 5px;
}
.goals-item:hover {
  background-color: #c85ef1;
  border-radius: 5px;
  height: 35px;
  font-size: larger;
  margin-bottom: 10px;
  padding: 5px;
}
.notes-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.note-item {
  background-color: #e5c7f1;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}
.note-item:hover {
  background-color: #c85ef1;
}

.change-board-container {
  transition: all ease-in-out;
}
.change-board-container h3 {
  font-size: xx-large;
  color: #c85ef1;
  margin-bottom: 20px;
  font-weight: bolder;
}
.change-board-container textarea {
  width: 100%;
  height: 100%;
  border: none;
  font-size: medium;
  outline: none;
}
.toast-view {
  background-color: rgba(139, 137, 137, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.goals-input-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.goals-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.goals-input {
  height: 40px;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 50%;
  border: none;
  outline: none;
  padding-left: 10px;
}
.goals-priority-select {
  border-radius: 10px;
  height: 40px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: none;
  outline: none;
  background-color: #c85ef1;
}
.add-new-note {
  background-color: #c85ef1;
  border: none;
  height: 40px;
}
.add-new-note:hover {
  background-color: #af15ec;
}
.notes-item-container {
  flex: 1;
  overflow-y: scroll;
  margin-bottom: 5px;
  margin-top: 8px;
}
.notes-item-container::-webkit-scrollbar {
  display: none;
}
.note-title-input {
  border: none;
  border-bottom: #c85ef1 1px solid;
  height: 40px;
  width: 30%;
  font-size: larger;
  margin-bottom: 10px;
  outline: none;
}
.note-date {
  background-color: #c85ef1;
  border-radius: 5px;
  padding: 2px 10px;
}
.note-description-view {
  margin-bottom: 15px;
}
.trash-note-container {
  display: flex;
  justify-content: space-between;
}
.delete-note-btn {
  background-color: red;
}
.qoals-title {
  color: #c066f5;
  font-size: large;
  font-weight: bolder;
  padding: 0px 10px;
  margin: 0;
}
@media (max-width: 1024px) {
  .app-content {
    flex-direction: column;
    height: 100%;
  }
}

@media (max-width: 320px) {
  .app-content {
    height: 100%;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .left-container {
    width: 100vw;
  }

  .right-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
  }
  .center-container {
    width: 100%;
  }
  .calender {
    width: 100vw;
  }
  .todolist-container {
    width: 100vw;
  }
  .goals-pic-container {
    width: 100vw;
    margin-top: 0;
    margin: 0;
  }
  .change-board-container {
    width: 100%;
  }
  .goals-contaner {
    width: 100vw;
  }
  .notes-container {
    width: 100vw;
  }
}
